<form action="../mostrarTarifasVigentes/" method="POST">
    
    <label for="empleadoLogueado">Empleado: </label><input type="text" name="empleadoLogueado" value="{{empleadoLogueado}}" readonly="True"> <!--input estatico-->
    <br>
    <label for="fechaHoraActual">Fecha y hora: </label><input type="text" name="fechaHoraActual" value="{{fechaHoraActual}}" readonly="True"> 
    <br>
    <label for="sesion">Sesion: </label><input type="text" name="sesion" value="{{sesion}}" readonly="True"> 
    <br>
    <label for="sedeActual">Sede: </label><input type="text" name="sedeActual" value="{{sedeActual}}" readonly="True"> 
    <br>
    <label for="tarifas">Tarifas: </label>
    <select name="tarifas">
        {% for tarifa in tarifas %}
        <option value="{{tarifas}}">{{tarifas}}</option>
        {% endfor %}
    </select>
</form>