<form action="../mostrarTarifasVigentes/" method="POST">
    
    <label for="empleadoLogueado">Empleado: </label><input type="text" name="empleadoLogueado" value="{{empleadoLogueado}}" readonly="True"> <!--input estatico-->

    <label for="fechaHoraActual">Fecha y hora: </label><input type="text" name="fechaHoraActual" value="{{fechaHoraActual}}" readonly="True"> 

    <label for="sesion">Sesion: </label><input type="text" name="sesion" value="{{sesion}}" readonly="True"> 

    <label for="sedeActual">Sede: </label><input type="text" name="sedeActual" value="{{sedeActual}}" readonly="True"> 

    <select name="tarifas">
        {% for tarifa in tarifas %}
        <option value="{{tarifa}}">{{tarifa}}</option>
        {% endfor %}
    </select>

</form>