{% extends "base.html" %} {% block contenido %}
<form action="../tomarConfirmacionDeVenta/" method="POST">
  {% csrf_token %}
  <label for="empleadoLogueado">Empleado: </label
  ><input
    type="text"
    name="empleadoLogueado"
    value="{{empleadoLogueado}}"
    readonly="True"
  />
  <!--input estatico-->
  <br>
  <label for="fechaHoraActual">Fecha y hora: </label
  ><input
    type="datetime"
    name="fechaHoraActual"
    value="{{fechaHoraActual}}"
    readonly="True"
  />
  <br>
  <input type="hidden" name="sesion" value="{{sesion}}" readonly="True" />
  <label for="sedeActual">Sede: </label
  ><input
    type="text"
    name="sedeActual"
    value="{{sedeActual}}"
    readonly="True"
  />
  <br />
  <label for="tarifaSeleccionada">Tarifa: </label
  ><input
    type="text"
    name="tarifaSeleccionada"
    value="{{tarifaSeleccionada}}"
    readonly="True"
  />
  <br />
  <label for="duracion">Duracion: </label
  ><input type="text" name="duracion" value="{{duracion}}" readonly="True" />
  <br />
  <label for="cantidadDeEntradas">Cantidad de entradas: </label
  ><input
    type="text"
    name="cantidadDeEntradas"
    value="{{cantidadDeEntradas}}"
    readonly="True"
  />
  <br />
  <table>
    <thead>
      <th></th>
      <th>Exposición</th>
    </thead>
    <tbody>
      {% for expo in exposicionVigente %}
      <tr>
        <td>
          <input type="hidden" name="exposicionVigente[]" value="{{expo}}" />
        </td>
        <td>{{expo}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <label for="totalVenta">Total: </label
  ><input
    type="text"
    name="totalVenta"
    value="{{totalVenta}}"
    readonly="True"
  />
  <br />
  <input type="submit" value="Confirmar" />
  <button><a href="../registrarNuevaEntrada/">Cancelar</a></button>
</form>
{% endblock contenido %}
