<form action="../tomarTarifasSeleccionadas/" method="POST">

    <label for="empleadoLogueado">Empleado: </label><input type="text" name="empleadoLogueado" value="{{empleadoLogueado}}" readonly="True"> <!--input estatico-->

    <label for="fechaHoraActual">Fecha y hora: </label><input type="text" name="fechaHoraActual" value="{{fechaHoraActual}}" readonly="True"> 

    <label for="sesion">Sesion: </label><input type="text" name="sesion" value="{{sesion}}" readonly="True"> 

    <label for="sedeActual">Sede: </label><input type="text" name="sedeActual" value="{{sedeActual}}" readonly="True"> 

    <label for="tarifaSeleccionada">Tarifa: </label><input type="text" name="tarifaSeleccionada" value="{{tarifaSeleccionada}}" readonly="True"> 

    <label for="duracion">Duracion: </label><input type="text" name="duracion" value="{{duracion}}" readonly="True"> 

    <label for="exposicionVigente">Duracion: </label><input type="text" name="exposicionVigente" value="{{exposicionVigente}}" readonly="True"> 

    
</form>