body {
  background-color: #f6f6f6;
}

.entrada {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 10px #bebebe5b;
  margin: 10px 20% 10px 20%;
  padding: 10px 30px;
}

.contenido {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 10px #bebebe5b;
  position: relative;
  margin: auto 20%;
  padding: 10px 30px;
}

input{
  color: rgb(220, 40, 0);
}
